.container {
	width: 100%;
	max-width: $container;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	}
.title {
	width: 100%;
	margin-bottom: 30px;

	text-transform: uppercase;

	color: $color-text-main;

	font-size: 26px;
	font-weight: bold;
	line-height: 1.4;
	}
.button {
	height: 50px;
	margin: 0 auto;

	cursor: pointer;
	transition: 0.5s;
	text-align: center;

	border-radius: 30px;

	font-weight: bold;
	}
