section.healthy-foods.section--padding
  .container
    .breadcrumbs
      ul.breadcrumbs__list
        -
          let breadcrumbsList = [
              {
                  href: 'index.html',
                  text: 'Главная'
              },
              {
                  href: 'healthy-foods.html',
                  text: 'Полезные продукты'
              }
          ]
        each breadcrumbsItem in breadcrumbsList
          include ../../components/breadcrumbs
    .healthy-foods__wrap
      h1.title Полезные продукты
      .slider
        -
          let sliderBoxList = [
              {
                  sliderBoxItem: [
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      }
                  ],
              },
              {
                  sliderBoxItem: [
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      }
                  ],
              },
              {
                  sliderBoxItem: [
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      }
                  ],
              },
              {
                  sliderBoxItem: [
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      }
                  ],
              },
              {
                  sliderBoxItem: [
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      }
                  ],
              },
              {
                  sliderBoxItem: [
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      }
                  ],
              },
              {
                  sliderBoxItem: [
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      }
                  ],
              },
              {
                  sliderBoxItem: [
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      }
                  ],
              },
              {
                  sliderBoxItem: [
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      }
                  ],
              },
              {
                  sliderBoxItem: [
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      },
                      {
                          src: './img/main-page/main-box.jpg',
                          atl: 'baked piece of meat with vegetables',
                          link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                          date: '01.05.2020',
                          author: 'Евгений Третяк'
                      }
                  ],
              }
          ]
        each sliderBoxItem in sliderBoxList
          .slider-box
            .healthy-foods__inner
              each articleItem in sliderBoxItem.sliderBoxItem
                include ../../components/article
      .banner.banner--large
