.form {
	width: 100%;
	max-width: 470px;
	margin-right: 3%;
	&__text-block {
		margin-bottom: 50px;
		}
	&__description{
		color: #000;

		line-height: 1.5;
		}
	&__card {
		display: flex;
		&--margin {
			margin-bottom: 30px;
			}
		}
	&__fieldset {
		&:not(:last-child) {
			margin-right: 30px;
			}
		&--position {
			position: relative;
			}
		&--column {
			display: flex;
			flex-direction: column;
			&:not(:first-child) {
				margin-left: 42px;
				}
			}
		}
	&__title {
		margin-bottom: 20px;

		text-transform: uppercase;

		color: $color-text-main;

		font-weight: 700;
		line-height: 1.5;
		}
	&__item {
		width: 150px;
		height: 40px;
		padding: 0 10px 0 10px;

		border: 1px solid #eaecf0;
		border-radius: 20px;
		}
	&__inner {
		display: flex;
		align-items: center;

		height: 40px;
		}
	&__span {
		position: absolute;
		right: 10px;
		bottom: 14px;
		}
	&__list {
		width: 100%;
		padding: 0 10px 0 20px;
		}
	&__button {
		width: 100%;

		color: $color-text-main;
		background-color: $background-color-submain;

		font-size: 18px;

		&:hover {
			color: $color-hover-submain;
			background-color: $background-color-main;
			}
		}
	}
@media (max-width: 1160px) {
	.form {
		width: 100%;
		max-width: 615px;
		margin-right: 0;
		}
	}
@media (max-width: 460px) {
	.form {
		&__card {
			flex-direction: column;
			}
		&__fieldset {
			&:not(:last-child) {
				margin: 0 0 20px 0;
				}
			&--column {
				&:not(:first-child) {
					margin-left: 0;
					}
				}
			}
		&__span {
			left: 115px;
			}
		&__item {
			max-width: 230px;
			}
		}
	}
