.form {
	width: 100%;
	&__text-block {
		margin-bottom: 50px;
		}
	&__description{
		margin-bottom: 20px;

		color: $color-text-main;

		line-height: 1.5;
		}
	&__card {
		display: flex;
		&--margin {
			margin-bottom: 30px;
			}
		}
	&__fieldset {
		display: flex;
		flex-direction: column;
		&--margin {
			&:not(:last-child) {
				margin-right: 30px;
				}
			}
		&--position {
			position: relative;
			}
		&--column {
			display: flex;
			flex-direction: column;
			&:not(:first-child) {
				margin-left: 42px;
				}
			}
		}
	&__title {
		margin-bottom: 20px;

		text-transform: uppercase;

		color: $color-text-main;

		font-weight: 700;
		line-height: 1.5;
		}

	&__inner {
		display: flex;
		align-items: center;

		height: 40px;
		}
	&__span {
		&--position {
			position: absolute;
			right: 10px;
			bottom: 14px;
			}
		}
	&__button {
		width: 100%;
		margin-top: 20px;

		color: $color-text-main;
		background-color: $background-color-submain;

		font-size: 18px;

		&:hover {
			color: $color-hover-submain;
			background-color: $background-color-main;
			}
		}
	}
@media (max-width: 460px) {
	.form {
		&__card {
			flex-direction: column;
			}
		&__fieldset {
			&:not(:last-child) {
				margin: 0 0 20px 0;
				}
			&--column {
				&:not(:first-child) {
					margin-left: 0;
					}
				}
			}
		&__span {
			&--position {
				right: 210px;
				}
			}
		&__item {
			max-width: 230px;
			}
		}
	}
