.subheader {
	background: linear-gradient(90deg, #8ecb7e -74.27%, #66aa52 100%);
	&__container {
		position: relative;

		display: flex;
		}
	&__list {
		position: relative;

		display: flex;
		justify-content: space-between;

		width: 100%;

		}
	&__link {
		display: block;

		padding: 23px 15px;

		cursor: pointer;

		color: $color-text-submain;

		font-weight: 700;

		&:hover {
			color: $color-text-main;
			background-color: $color-hover-submain;
			}
		}

	.search {
		margin-left: 45px;
		padding: 0 15px;

		cursor: pointer;

		@media (max-width: 1199px) {
			padding: 0;
			}

		&:hover {
			& path {
				fill: $color-hover-submain;
				}
			}

		&__inp {
			position: absolute;
			z-index: 90;
			top: 64px;
			right: 10px;

			display: none;

			width: 100%;
			max-width: 360px;
			height: 60px;
			padding: 0 20px;

			color: $color-text-main;
			background: $background-color-white;
			box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);

			font-style: italic;

			&.open {
				width: calc(100% - 20px);
				padding: 0 20px;
				}
			}
		}
	}
@media (max-width: 1199px) {
	.subheader {
		display: none;

		background: linear-gradient(90deg, #8ecb7e -74.27%, #66aa52 100%);

		&__container {
			display: flex;
			flex-direction: column;

			text-align: center;
			}

		&__list {
			flex-direction: column;

			}
		&__link {
			border-bottom: 1px solid rgba(255, 255, 255, 0.25);
			}
		}
	.search {
		&__inp {
			position: absolute;
			top: 50%;
			right: 50px;

			width: 0;
			max-width: 375px;
			height: 100%;

			transition: all 0.5s ease-in;
			transform: translateY(-50%);

			background: $background-color-white;
			box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);


			&.open {
				width: 100%;
				padding: 0 20px;
				}
			}
		}
	}
@media (max-width: 500px) {
	.search {
		&__inp {
			max-width: 65%;
			}
		}
	}
