.sidebar {
	z-index: 2;

	padding: 30px;

	border-radius: 30px;
	box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
	&__card {
		&:not(:last-child) {
			margin-bottom: 25px;
			}
		}
	&__link {
		display: block;

		margin-bottom: 10px;

		font-weight: 700;
		line-height: 1.4;
		}
	&__date {
		width: 100%;

		font-size: 12px;
		line-height: 1.4;
		&:not(:last-child) {
			margin-bottom: 20px;
			}
		}
	&__author {
		margin-left: 10px;
		}
	&__title {
		width: 100%;
		margin-bottom: 30px;

		text-transform: uppercase;

		font-size: 26px;
		font-weight: 700;
		line-height: 1.4;
		}
	&__banner {
		display: flex;
		align-items: center;
		flex-direction: row;

		width: 200px;
		height: 200px;
		margin: 20px auto 0;

		border-radius: 30px;
		background-color: rgb(252, 239, 206);
		}
	&__description {
		margin: 0 auto;

		font-size: 26px;
		font-weight: 700;
		}
	}
