.breadcrumbs {
	&__list {
		display: flex;

		margin-bottom: 30px;
		padding-top: 20px;
		padding-bottom: 20px;

		border-bottom: 1px solid $color-social;
		}
	&__item {
		position: relative;
		&:not(:last-child) {
			margin-right: 40px;
			&:after {
				position: absolute;
				right: -20px;

				content: "/";

				color: $color-social;
				}
			}
		}
	&__link {
		color: $color-social;

		font-size: 12px;
		line-height: 9px;
		&:hover {
			color: $color-hover-main;
			}
		}
	}
