// colors
$color: #000; // black
$color-text-main: #000; //black
$color-text-submain: #fff; // white
$color-hover-main: #66aa52; //green
$color-hover-submain: #f8d851; // yellow
$color-social: #707278; // gray
$background-color-main: #66aa52; // green
$background-color-submain: #f8d851; // yellow
$background-color-white: #fff; // white
$button-color-hover: #22242e;

// body
$container: 1200px;
