section.products
  .products__container.container
    -
      let foodList = [
          {
              src: './img/main-page/products/tree.svg',
              alt: 'tree',
              class: 'products__tree'
          },
          {
              src: './img/main-page/products/mushroom.svg',
              alt: 'mushroom',
              class: 'products__mushroom'
          },
          {
              src: './img/main-page/products/baguette.svg',
              alt: 'baguette',
              class: 'products__baguette'
          },
          {
              src: './img/main-page/products/lives.svg',
              alt: 'lives',
              class: 'products__lives'
          },
          {
              src: './img/main-page/products/tomato.svg',
              alt: 'tomato',
              class: 'products__tomato'
          },
          {
              src: './img/main-page/products/broccoli.svg',
              alt: 'broccoli',
              class: 'products__broccoli'
          },
          {
              src: './img/main-page/products/carrot.svg',
              alt: 'carrot',
              class: 'products__carrot'
          }
      ]
    each foodItem in foodList
      img(src=foodItem.src, alt=foodItem.alt, class=foodItem.class)
    .products__content.grid-container
      .products__wrap
        h2.title Полезные продукты
        .products__inner.grid-container__inner
          -
            let productsList = [
                {
                    src: './img/main-page/main-box.jpg',
                    atl: 'baked piece of meat with vegetables',
                    link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                    date: '01.05.2020',
                    author: 'Евгений Третяк'
                },
                {
                    src: './img/main-page/main-box.jpg',
                    atl: 'baked piece of meat with vegetables',
                    link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                    date: '01.05.2020',
                    author: 'Евгений Третяк'
                },
                {
                    src: './img/main-page/main-box.jpg',
                    atl: 'baked piece of meat with vegetables',
                    link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                    date: '01.05.2020',
                    author: 'Евгений Третяк'
                },
                {
                    src: './img/main-page/main-box.jpg',
                    atl: 'baked piece of meat with vegetables',
                    link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                    date: '01.05.2020',
                    author: 'Евгений Третяк'
                },
                {
                    src: './img/main-page/main-box.jpg',
                    atl: 'baked piece of meat with vegetables',
                    link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                    date: '01.05.2020',
                    author: 'Евгений Третяк'
                },
                {
                    src: './img/main-page/main-box.jpg',
                    atl: 'baked piece of meat with vegetables',
                    link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                    date: '01.05.2020',
                    author: 'Евгений Третяк'
                },
                {
                    src: './img/main-page/main-box.jpg',
                    atl: 'baked piece of meat with vegetables',
                    link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                    date: '01.05.2020',
                    author: 'Евгений Третяк'
                },
                {
                    src: './img/main-page/main-box.jpg',
                    atl: 'baked piece of meat with vegetables',
                    link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                    date: '01.05.2020',
                    author: 'Евгений Третяк'
                },
                {
                    src: './img/main-page/main-box.jpg',
                    atl: 'baked piece of meat with vegetables',
                    link: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                    date: '01.05.2020',
                    author: 'Евгений Третяк'
                }
            ]
          each articleItem in productsList
            include ../../components/article
        button.products__button.button Показать еще
      .sidebar-container
        aside.products__sidebar.sidebar
          h3.products__sidebar-title.sidebar__title Последние новости
          -
            let sidebarList = [
                {
                    titleLink: 'article.html',
                    linkClass: 'products__sidebar-link',
                    title: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                    dateClass: 'products__sidebar-date',
                    date: '01.05.2020',
                    authorLink: 'author.html',
                    authorClass: 'products__sidebar-author',
                    author: 'Евгений Третяк'
                },
                {
                    titleLink: 'article.html',
                    linkClass: 'products__sidebar-link',
                    title: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                    dateClass: 'products__sidebar-date',
                    date: '01.05.2020',
                    authorLink: 'author.html',
                    authorClass: 'products__sidebar-author',
                    author: 'Евгений Третяк'
                },
                {
                    titleLink: 'article.html',
                    linkClass: 'products__sidebar-link',
                    title: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                    dateClass: 'products__sidebar-date',
                    date: '01.05.2020',
                    authorLink: 'author.html',
                    authorClass: 'products__sidebar-author',
                    author: 'Евгений Третяк'
                },
                {
                    titleLink: 'article.html',
                    linkClass: 'products__sidebar-link',
                    title: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                    dateClass: 'products__sidebar-date',
                    date: '01.05.2020',
                    authorLink: 'author.html',
                    authorClass: 'products__sidebar-author',
                    author: 'Евгений Третяк'
                },
                {
                    titleLink: 'article.html',
                    linkClass: 'products__sidebar-link',
                    title: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                    dateClass: 'products__sidebar-date',
                    date: '01.05.2020',
                    authorLink: 'author.html',
                    authorClass: 'products__sidebar-author',
                    author: 'Евгений Третяк'
                },
                {
                    titleLink: 'article.html',
                    linkClass: 'products__sidebar-link',
                    title: 'Не верьте мифам: топ-5 заблуждений о правильном питании',
                    dateClass: 'products__sidebar-date',
                    date: '01.05.2020',
                    authorLink: 'author.html',
                    authorClass: 'products__sidebar-author',
                    author: 'Евгений Третяк'
                }
            ]
          each sidebarItem in sidebarList
            include ../../components/sidebar
        .sidebar__banner
          p.sidebar__description 200x200
