form.form
  fieldset.form__text-block
    legend.title Калькулятор для похудения
    p.form__description Рекомендуем попробовать наш новый калькулятор для похудения, который поможет выполнить расчет ккал для снижения веса в зависимости от ряда условий.
  -
    let cardList = [
        {
            titleMain: 'Возраст :',
            titleSubMain: 'Пол :',
            cardItem: [
                {
                    inputId: 'male',
                    inputName: 'gender',
                    value: 'male',
                    labelText: 'Мужской'
                },
                {
                    inputId: 'female',
                    inputName: 'gender',
                    value: 'female',
                    labelText: 'Женский'
                }
            ]
        },
        {
            titleMain: 'Вес :',
            titleSubMain: 'Измерять в :',
            cardItem: [
                {
                    inputId: 'kilo',
                    inputName: 'weight',
                    value: 'kilo',
                    labelText: 'В киллограммах'
                },
                {
                    inputId: 'lb',
                    inputName: 'weight',
                    value: 'lb',
                    labelText: 'В фунтах'
                }
            ]
        }
    ]
  each cardItem in cardList
    .form__card.form__card--margin
      fieldset.form__fieldset
        legend.form__title= cardItem.titleMain
        input.input-text(type="text")
      fieldset.form__fieldset
        legend.form__title= cardItem.titleSubMain
        .form__inner
          each formItem in cardItem.cardItem
            include form/input-radio
  .form__card.form__card--margin
    fieldset.form__fieldset.form__fieldset--position
      legend.form__title Рост :
      input.input-text(type="text")
      span.form__span см.
    fieldset.form__fieldset
      legend.form__title Физическая активность
      input.input-list(list="training")
      datalist#training
        -
          let dataList = [
              'Не занимаюсь',
              '1 раз в неделю',
              '2 раза в неделю',
              '3 раза в неделю',
              '4 раза в неделю',
              '5 раз в неделю'
          ]
        each dataItem in dataList
          option= dataItem
  .form__card.form__card--margin
    -
      let resultList = [
          {
              resultTitle: 'Результат в :',
              resultItem: [
                  {
                      inputId: 'kilocalories',
                      inputName: 'kilocalories',
                      value: 'weight',
                      labelText: 'Ккал'
                  },
                  {
                      inputId: 'Kilojoules',
                      inputName: 'Kilojoules',
                      value: 'weight',
                      labelText: 'Килоджоулях'
                  },
      
              ]
          },
          {
              resultTitle: 'Физическая активность',
              resultItem: [
                  {
                      inputId: 'miffline',
                      inputName: 'miffline',
                      value: 'weight',
                      labelText: 'Миффлина - Сан Жеора'
                  },
                  {
                      inputId: 'harris',
                      inputName: 'harris',
                      value: 'weight',
                      labelText: 'Харриса-Бенедикта'
                  },
      
              ]
          }
      ]
    each resultItem in resultList
      fieldset.form__fieldset.form__fieldset--column
        legend.form__title= resultItem.resultTitle
        each formItem in resultItem.resultItem
          .form__inner
            include form/input-radio
  input.form__button.button(type="submit", value="Вычислить")
