.sidebar__card
  a.sidebar__link(href=sidebarItem.titleLink, class=sidebarItem.linkClass)= sidebarItem.title
  p.sidebar__date(class=sidebarItem.dateClass)= sidebarItem.date
    a.sidebar__author(href=sidebarItem.authorLink, class=sidebarItem.authorClass)= sidebarItem.author
