aside.sidebar(class=box)
  h3.sidebar__title Последние новости
  a.sidebar__link(href="article.html") Не верьте мифам: топ-5 заблуждений о правильном питании
  p.sidebar__date 01.07.1996
    a.sidebar__author(href="author.html") Евгений Третяк
  a.sidebar__link(href="article.html") Не верьте мифам: топ-5 заблуждений о правильном питании
  p.sidebar__date 01.07.1996
    a.sidebar__author(href="author.html") Евгений Третяк
  a.sidebar__link(href="article.html") Не верьте мифам: топ-5 заблуждений о правильном питании
  p.sidebar__date 01.07.1996
    a.sidebar__author(href="author.html") Евгений Третяк
  a.sidebar__link(href="article.html") Не верьте мифам: топ-5 заблуждений о правильном питании
  p.sidebar__date 01.07.1996
    a.sidebar__author(href="author.html") Евгений Третяк
  a.sidebar__link(href="article.html") Не верьте мифам: топ-5 заблуждений о правильном питании
  p.sidebar__date 01.07.1996
    a.sidebar__author(href="author.html") Евгений Третяк
  a.sidebar__link(href="article.html") Не верьте мифам: топ-5 заблуждений о правильном питании
  p.sidebar__date 01.07.1996
    a.sidebar__author(href="author.html") Евгений Третяк
