doctype html
html(lang="ru")
  head
    include meta/meta
    title Таблицы калорийности
    include link/link
  body
    include components/icons/icons

    include layout/header

    include components/nav-panel

    include blocks/calorie-page/description-section
    include blocks/calorie-page/search-section
    include blocks/calorie-page/calorie-section

    include layout/footer
    include scripts/scripts
