doctype html
html(lang="ru")
  head
    include meta/meta
    title Ваша потребность в калориях
    include link/link
  body
    include components/icons/icons

    include layout/header

    include components/nav-panel

    include blocks/calorie-requirement-page/requirement-section

    include layout/footer
    include scripts/scripts
