doctype html
html(lang="ru")
  head
    include meta/meta
    title Полезные продукты
    include link/link
  body
    include components/icons/icons

    include layout/header

    include components/nav-panel

    include blocks/healthy-foods-page/healthy-foods-section

    include layout/footer
    include scripts/scripts
