doctype html
html(lang="en")
  head
    include meta/meta
    title PROJECT
    include link/link
  body
    include layout/header

    //include section/

    include layout/footer
    include scripts/scripts
