doctype html
html(lang="ru")
  head
    include meta/meta
    title Новости
    include link/link
  body
    include components/icons/icons

    include layout/header

    include components/nav-panel

    include blocks/news-page/news-section

    include layout/footer
    include scripts/scripts
