.products {
	padding-top: 60px;
	padding-bottom: 80px;

	background-color: $background-color-submain;
	&__container {
		position: relative;
		}
	&__tree {
		position: absolute;
		top: -20px;
		left: -40px;
		}
	&__mushroom {
		position: absolute;
		top: 50%;
		left: -60px;

		transform: translateY(-50%);
		}
	&__baguette {
		position: absolute;
		bottom: 20px;
		left: -65px;
		}
	&__lives {
		position: absolute;
		top: -20px;
		left: 50%;

		transform: translate(-50%);
		}
	&__tomato {
		position: absolute;
		bottom: 20px;
		left: 72%;
		}
	&__broccoli {
		position: absolute;
		top: 130px;
		right: -50px;
		}
	&__carrot {
		position: absolute;
		right: -60px;
		bottom: 130px;
		}
	&__inner {
		margin-bottom: 30px;
		}
	&__button {
		display: block;

		width: 180px;

		background-color: $background-color-white;
		box-shadow: 0 1px 29px rgba(0, 0, 0, 0.1);

		&:hover {
			color: $color-hover-submain;
			background-color: $button-color-hover;
			}
		}
	&__sidebar {
		background-color: $background-color-white;
		&-date {
			color: rgba(34, 36, 46, 0.8);
			}
		&-link,
		&-author {
			cursor: pointer;
			&:hover {
				color: $color-hover-submain;
				}
			}
		&-title {
			color: $color-text-main;
			}
		}
	}
.sidebar-container {
	z-index: 2;
	}
@media (max-width: 1275px) {
	.products {
		&__tree,
		&__mushroom,
		&__baguette,
		&__lives,
		&__broccoli,
		&__carrot,
		&__tomato {
			display: none;
			}
		}
	}
@media (max-width: 1023px) {
	.products {
		}
	.sidebar {
		padding: 20px;
		&__title {
			font-size: 22px;
			}
		}
	}
@media (max-width: 767px) {
	.products {
		&__wrap {
			width: 100%;
			}
		}
	.sidebar {
		width: 100%;
		max-width: 450px;
		margin: 0 auto;
		}
	}

@media (max-width: 550px) {
	.title {
		text-align: center;
		}
	}

@media (max-width: 414px) {
	.sidebar {
		&__title {
			font-size: 22px;
			}
		}
	}
