.products {
	padding-top: 60px;
	padding-bottom: 80px;

	background-color: $background-color-submain;
	&__container {
		position: relative;
		}
	&__tree {
		position: absolute;
		top: -20px;
		left: -40px;
		}
	&__mushroom {
		position: absolute;
		top: 50%;
		left: -60px;

		transform: translateY(-50%);
		}
	&__baguette {
		position: absolute;
		bottom: 20px;
		left: -65px;
		}
	&__lives {
		position: absolute;
		top: -20px;
		left: 50%;

		transform: translate(-50%);
		}
	&__tomato {
		position: absolute;
		bottom: 20px;
		left: 72%;
		}
	&__broccoli {
		position: absolute;
		top: 130px;
		right: -50px;
		}
	&__carrot {
		position: absolute;
		right: -60px;
		bottom: 130px;
		}

	&__content {
		display: grid;

		grid-template-columns: minmax(450px,74.5%) minmax(254px,23.1%);
		grid-column-gap: 2.4%;
		}
	&__inner {
		display: grid;

		margin-bottom: 30px;

		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 260px 260px 260px;
		grid-column-gap: 3.5%;
		grid-row-gap: 30px;
		}
	&__button {
		display: block;

		width: 180px;

		background-color: #fff;
		box-shadow: 0 1px 29px rgba(0, 0, 0, 0.1);

		&:hover {
			color: $color-hover-submain;
			background-color: $button-color-hover;
			}
		}
	}
.sidebar-container {
	z-index: 2;
	}
@media (max-width: 1275px) {
	.products {
		&__tree,
		&__mushroom,
		&__baguette,
		&__lives,
		&__broccoli,
		&__carrot,
		&__tomato {
			display: none;
			}
		}
	}
@media (max-width: 1023px) {
	.products {
		&__content {
			}
		&__inner {
			grid-template-columns: minmax(100px, 48%) minmax(100px, 48%);
			grid-template-rows: repeat(5, 220px);
			}
		}
	.sidebar {
		padding: 20px;
		&__title {
			font-size: 22px;
			}
		}
	}
@media (max-width: 767px) {
	.products {
		&__content {
			display: grid;

			grid-template-columns: 100%;
			grid-template-rows: 1fr;
			grid-row-gap: 50px;
			grid-column-gap: 2.4%;
			}
		&__wrap {
			width: 100%;
			}
		&__inner {
			grid-template-columns: minmax(100px, 48.5%) minmax(100px, 48%);
			grid-template-rows: repeat(5, 200px);
			}
		}
	.sidebar {
		width: 100%;
		max-width: 450px;
		margin: 0 auto;
		}
	}

@media (max-width: 550px) {
	.products {
		&__content {
			}
		&__inner {
			grid-template-columns: minmax(100px, 100%);
			grid-template-rows: repeat(9, 200px);
			}
		}
	.title {
		text-align: center;
		}
	}

@media (max-width: 414px) {
	.sidebar {
		&__title {
			font-size: 22px;
			}
		}
	}
