.news {
	padding-bottom: 100px;
	&__sidebar {
		background: linear-gradient(210.4deg, #a1da93 -51.25%, #67ab53 114.89%);

		&-title {
			color: $color-text-submain;
			}

		&-link {
			color: $color-text-submain;
			}

		&-date,
		&-author {
			color: rgba(255, 255, 255, 0.8);
			}

		&-link,
		&-author {
			&:hover {
				color: $color-hover-submain;
				}
			}
		}
	}

.slider {
	width: 100%;
	}
