section.description
  .container
    .breadcrumbs
      ul.breadcrumbs__list
        -
          let breadcrumbsList = [
              {
                  href: 'index.html',
                  text: 'Главная'
              },
              {
                  href: 'calorie.html',
                  text: 'Таблицы калорийности продуктов'
              }
          ]
        each breadcrumbsItem in breadcrumbsList
          include ../../components/breadcrumbs
    .description__wrap
      h1.title Таблицы калорийности продуктов
      p.description__item Основными источниками энергии является еда. Мы каждый день употребляем в пищу большое количество продуктов, каждый из которых содержит определённое количество белков, жиров и углеводов, их употребление обязательно необходимо для поддерживания жизнедеятельности организма. Все белки, жиры и углеводы имеют численное выражение в калориях.
      p.desctiption__item С помощью наших таблиц калорийности вы легко сможете узнать пищевую и энергетическую ценность ваших любимых продуктов и открыть для себя не только вкусные, но и полезные продукты, сможете составить личные таблицы продуктов.
