section.search
  .search__container.container
    h2.search__title.title Быстрый поиск по продуктам
    form.search__form
      input.search__form-item(
        type="text",
        placeholder="Введите название продукта"
      )
      button.search__form-button.button(type="submit") Показать
